#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
#ifdef WIN64
            VALUE "FileDescription", "ShellHandler for Textrument (64 bit)"
#else
            VALUE "FileDescription", "ShellHandler for Textrument"
#endif
            VALUE "FileVersion", "0.1"
            VALUE "LegalCopyright", "Copyright 2010"
#ifdef WIN64
            VALUE "OriginalFilename", "NppShell64.dll"
#else
            VALUE "OriginalFilename", "NppShell.dll"
#endif
            VALUE "ProductVersion", "0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

//IDI_ICON_NPP          ICON                    "icon\\npp_1.ico"
IDI_ICON_NPP          ICON                    "icon\\nppNewIcon.ico"