#include <windows.h>
#include "SubPanelPlaceHolder_rc.h"

IDD_SUBPLACEHODLER_PANEL DIALOGEX 26, 41, 142, 324
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Sub Panel Place Holder"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
END
